:root {

/*--base-color:#8c0c63;
*/

--base-color:#87c8e8;

--bg-color:#055416;
--text-color:#87c8e8;

--header-border-color: #87c8e8;
--burst-width:1200px;
}

body {
position: fixed;
background-color: var(--base-color);
}

#burst {
position: relative;
top:650px;

left: calc(calc(100% - var(--burst-width)) / 2);


color: var(--bg-color);

border-radius:50%;

/*border-radius: 30%;
border-style:solid;
border-color: var(--bg-color);*/
background-color: var(--bg-color);

box-shadow: 0 0 100px 600px;
}

header {
position: relative;
 top: -50px; 

left:0;

color: var(--text-color);
font-family:Parisienne,helvetica,arial;

width: 800px;

margin:auto;
text-align:center;

border-style: solid;
border-color: var(--header-border-color);
border-radius: 40%;

background-color:rgba(0,0,0,0.2);
}

#lilac-container {
position: relative;
/* top:-100px; */
left:0;


display: grid;
grid-template-columns: 30% 40% 30%;

}

#dogwood {
position: relative;
top: -50px;
/* width: 50px; */
display: block; 
margin-left: auto; 
margin-right: auto;
}

.lilac-box {
position:relative;
top:0;

display: block;
margin-left: auto;
margin-right: auto;

}

main {
position: relative;
/* top: -170px; */
}


