@media screen and (orientation:landscape) {
:root {

/*--base-color:#8c0c63;
*/


/*
** COLORS
*/

--base-color:#87c8e8;

--bg-color:#055416;
--text-color:#87c8e8;

--header-border-color: #87c8e8;


/*
** LAYOUT
*/

--lilac-width:275px;

--burst-width:1200px;
--burst-height:100px;
--burst-top:650px;
--burst-left:calc(calc(100vw - var(--burst-width)) / 2);

--header-top: 120px;
--header-left: 0;
--header-height:190px;
--header-width: 800px;

--header-pad:0;

--dogwood-width: 600px;
--dogwood-top: 130px;
--dogwood-left:  calc(calc(100vw - var(--dogwood-width)) / 2 );

--profile-width: 100px;
--profile-y-offset:-20px;

/*
** FONTS
*/

--header1-font-size:84px;
--header2-font-size:48px;

} /* root */
} /* media query landscape */


@media screen and (orientation:portrait) {
:root {
/*
** COLORS
*/

--base-color:#87c8e8;

--bg-color:#055416;
--text-color:#87c8e8;

--header-border-color: #87c8e8;


/*
** LAYOUT
*/

--lilac-width:275px;

--burst-width:1200px;
--burst-height:100px;
--burst-top:650px;
--burst-left:calc(calc(100vw - var(--burst-width)) / 2);

--header-top:240px;
--header-left: 0;
--header-height:200px;
--header-width: 800px;

--header-pad:30px;

--dogwood-width: 950px;
--dogwood-top: 250px;
--dogwood-left:  calc(calc(100vw - var(--dogwood-width)) / 2 );

--profile-width: 200px;
--profile-y-offset:-20px;
/*
** FONTS
*/

--header1-font-size:96px;
--header2-font-size:60px;


} /* root */
} /* media query portrait */

/*
--dogwood-width: 1200px;
--dogwood-top: 250px;

--header-top:240px;
--header-height:300px;
--header1-font-size:96px;
--header2-font-size:60px;

}
*/


body {
position: fixed;
background-color: var(--base-color);
}

#burst {
position: relative;
top: var(--burst-top);

left: var(--burst-left);


color: var(--bg-color);

border-radius:50%;

/*border-radius: 30%;
border-style:solid;
border-color: var(--bg-color);*/
background-color: var(--bg-color);

box-shadow: 0 0 100px 600px;
}

header {
position: relative;
/* top: -50px; */ 
top:var(--header-top);
left:var(--header-left);

color: var(--text-color);
font-family:Parisienne,helvetica,arial;

width: var(--header-width);
height: var(--header-height);
margin:auto;
text-align:center;

border-style: solid;
border-color: var(--header-border-color);
border-radius: 40%;

background-color:rgba(0,0,0,0.2);
padding:var(--header-pad);
}

#lilac-container {
position: fixed;
top:0;
left:0;

width:100vw;


display: grid;
grid-template-columns: 30% 40% 30%;

}

#dogwood {
position: relative;
top:var(--dogwood-top);
width:var(--dogwood-width);

left: var(--dogwood-left);
}

.lilac-box {
position:relative;
top:0;

display: block;
margin-left: auto;
margin-right: auto;

}

main {
position: relative;
/* top: -170px; */
}

#profile-photo {
position:relative;
top: var(--profile-y-offset);
border-style:solid;
border-color:var(--header-border-color);

display: block;
margin:auto;
border-radius:50%;

width:var(--profile-width);

color:var(--bg-color);

box-shadow: 0 0 10px 10px;

}

